Django==1.11.7 # rq.filter: ==1.11.7
django-allauth==0.35.0
django-cors-headers==2.1.0
django-rest-auth==0.9.3
django-rest-swagger==2.1.2
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
coverage==4.5
flake8==3.5.0
pre-commit==1.5.1
Pillow==5.0.0
requires.io==0.2.6